body {
  background-color: #e1eeff;
  font-family: sans-serif;
}
.container {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  background-color: white;
  width: 50%;
  padding: 30px;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.4);
  border-radius: 10px;
}
header {
  font-size: 40px;
  text-align: center;
}
.select-bar {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}
h2 {
  margin: 0;
}
.city {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(149, 157, 165, 0.4);
}
.city:last-child {
  border: none;
}
.time {
  font-size: 36px;
  margin-top: 3px;
  font-weight: bold;
}
.date div {
  color: grey;
}
small {
  font-size: 15px;
  vertical-align: middle;
}
footer {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
footer a {
  text-decoration: none;
  color: #0b58bc;
}
footer a:hover {
  text-decoration: underline;
}
.back-to-home {
  font-size: 12px;
  color: #0b58bc;
  text-decoration: none;
  position: relative;
  top: 7px;
  left: 10px;
}
.back-to-home:hover {
  text-decoration: underline;
}
